*,::after,::before{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 15px 0;
    outline: 1px solid #000;
}

.row{
    display: flex;
    margin: 0 -15px;
    contain: content;
}

.col-12{
    position: relative;
    width: 100%;
    padding-left:15px;
    padding-right:15px;
}

.demo-block{
    width: 100%;
    height: 200px;
    background-color: #ccc;
}


@media (max-width:767px){
    .set-full-size{
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
}